body{
	background-color: #ddffdd;
}
.container{
	max-width: 960px;
	padding-inline: 20px;
	margin-inline: auto;
}
canvas{
	border: 1px solid black;
	border-radius: 5%;
	background-color: white;
}
.bar{
	padding-inline: 5px;
	display: inline;
}
p{
	padding: 10px;
}
